<!DOCTYPE html>
<html>
  <head>
    <title>ForeverNoted</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
    <script src="https://kit.fontawesome.com/92fff4274c.js" crossorigin="anonymous"></script>
    <%# <script type="text/javascript">
      window.backgroundImageURL = "<%= image_url('../assets//images/animal-crossing.scss') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
